@charset "UTF-8";
#grid {
  display: grid;
  grid-template-areas: "header header header header header" "gin1 gin2 gin3 gin4 gin5" " footer footer footer footer footer";
  grid-template-rows: 1fr 5fr 0.5fr;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 0; }

body .headers {
  display: inline-block;
  width: auto;
  height: auto;
  text-align: center; }
  body .headers .tituloIndex {
    align-self: center;
    width: auto;
    height: auto;
    font-size: xxx-large;
    text-shadow: 1px 2px 0px goldenrod;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-bottom: 0; }

body .subTit {
  align-self: flex-end;
  font-style: italic;
  margin-top: 1%; }

header {
  grid-area: header;
  background-color: #ececec; }

footer {
  grid-area: footer;
  background-image: linear-gradient(to bottom, #ececec, #313131);
  height: fit-content; }

body div .gin1 {
  grid-area: gin1;
  background-image: url("../images/dry.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position: bottom;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin1:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.9; }

body .gin2 {
  grid-area: gin2;
  background-image: url("../images/pink.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin2:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.9; }

body .gin3 {
  grid-area: gin3;
  background-image: url("../images/blue.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin3:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.9; }

body .gin4 {
  grid-area: gin4;
  background-image: url("../images/citrus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: initial;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin4:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.9; }

body .gin5 {
  grid-area: gin5;
  background-image: url("../images/gold.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin5:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.9; }

body .textHiden {
  opacity: 0;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bolder;
  font-size: xx-large; }

body .textHiden:hover {
  opacity: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  place-items: center;
  display: inline-flex;
  text-align: -webkit-center; }

footer div .listFIndex {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  height: auto;
  width: auto;
  margin-top: 3%;
  margin-right: 2%;
  font-family: "STIX Two Text", serif;
  font-weight: bold;
  font-size: larger; }

footer div .listFooter {
  text-decoration: none;
  color: black; }

footer div .listFooter:hover {
  background-color: goldenrod; }

#gridContacto {
  display: grid;
  grid-template-areas: "header header header" "main main section" "main main section2" "footer footer footer";
  grid-template-rows: 130px 300px 300px 100px;
  grid-template-columns: 33% 33% 33%; }

main {
  grid-area: main; }
  main .containUbi {
    color: black;
    background-color: whitesmoke;
    width: 55%;
    height: 93%;
    margin-left: 1%;
    margin-top: 1%;
    opacity: 0.95;
    padding: 1%; }
  main .containNum {
    color: black;
    background-color: whitesmoke;
    width: 50%;
    height: 93%;
    margin-left: 1%;
    margin-top: 1%;
    opacity: 0.95;
    padding: 1%; }
  main .map {
    width: 90%;
    height: auto;
    border: 1px black solid;
    margin-left: 4%; }
  main .textContac {
    font-size: xx-large; }

.mainCon {
  background-image: url("../images/mapa.jpg");
  background-size: cover;
  opacity: 0.95; }

.section {
  grid-area: section;
  background-color: #ececec;
  border: 10px solid white;
  border-right: 0px;
  padding: 4%;
  height: fit-content; }

.section2 {
  grid-area: section2;
  background-image: url("../images/pompeya.jpeg");
  background-size: cover;
  margin-left: 10px;
  background-position: right;
  width: auto;
  height: auto;
  display: flex; }
  .section2 .boxpompe {
    display: flex; }
  .section2 .boxPompe:hover {
    transform: scale(0.9, 0.9);
    display: contents; }
  .section2 .textHiden2 {
    opacity: 0;
    width: 100%;
    height: 100%;
    font-family: "STIX Two Text", serif;
    font-size: xx-large;
    color: black;
    text-decoration: none; }
  .section2 .textHiden2:hover {
    opacity: 1;
    width: 100%;
    height: 100%;
    justify-content: center;
    place-items: center;
    display: inline-flex;
    color: black; }

.section2:hover {
  transform: scale(0.9, 0.9);
  opacity: 0.94; }

footer .pie {
  font-style: oblique;
  text-align: center;
  font-size: larger; }

header .buttonBack {
  text-decoration: none;
  background-color: lightgrey;
  color: black;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute; }

header .buttonBack:hover {
  background-color: goldenrod;
  text-decoration: none;
  color: black;
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute; }

body {
  margin: 0px; }

.fuente {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: bolder; }

.little {
  font-size: large; }

.fuenteFine {
  font-size: x-large; }

.sombra:hover {
  box-shadow: inset 0px 0px 20px 7px black; }

.sombraRosa:hover {
  box-shadow: inset 0px 0px 20px 2px #fccdd5; }

.sombraAzul:hover {
  box-shadow: inset 0px 0px 20px 2px #000049; }

.sombraYellow:hover {
  box-shadow: inset 0px 0px 20px 2px yellow; }

.sombraGold:hover {
  box-shadow: inset 0px 0px 20px 2px goldenrod; }

.sombra6:hover {
  background-color: black;
  opacity: 0.6; }

.sombra7:hover {
  opacity: 0.6;
  background-color: #000067; }

.sombra8:hover {
  opacity: 0.6;
  background-color: #d80570d6; }

.sombra9:hover {
  opacity: 0.6;
  background-color: #b57a0e; }

.sombra10:hover {
  opacity: 0.6;
  background-color: #825d00; }

.instagram {
  text-decoration: none;
  color: black;
  font-style: normal;
  font-size: x-large; }

#gridNosotros {
  display: grid;
  grid-template-areas: "header header header" "main main main" "main main main" "footer footer footer";
  grid-template-rows: 130px 300px 300px 100px;
  grid-template-columns: 33% 33% 33%; }

.mainNos {
  background-image: url("../images/nosotros.jpg");
  background-size: cover;
  opacity: 0.95;
  background-position-y: center; }

.containNos {
  color: black;
  background-color: whitesmoke;
  width: auto;
  height: 86%;
  margin-left: 1%;
  margin-top: 1%;
  opacity: 0.72;
  padding: 4% 1% 0% 1%;
  margin-right: 1%;
  text-align: center;
  overflow: scroll; }

.gridTragos {
  display: grid;
  grid-template-areas: "header header" "gin1 gin11" "gin2 gin22" "gin3 gin33" "gin4 gin44" "gin5 gin55" "footer footer";
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-columns: 50% 50%; }

body .dry1 {
  grid-area: gin1;
  background-image: url("../images/tonic.jpeg");
  background-size: 27vh;
  background-repeat: repeat-x;
  background-position-x: center;
  background-position: center;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #ececec; }

body .gin11 {
  background-image: url("../images/limon.jpg");
  background-size: cover;
  opacity: 0.8;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: white; }

body .gin11:hover {
  background-color: black;
  opacity: 1; }

body .blue2 {
  grid-area: gin2;
  background-image: url("../images/pepino.jpeg");
  background-size: 31vh;
  background-repeat: repeat-x;
  background-position: right;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin22 {
  background-image: url("../images/hibiscus.jpeg");
  background-size: cover;
  opacity: 0.8;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: white; }

body .gin22:hover {
  background-color: black;
  opacity: 1; }

body .rose3 {
  grid-area: gin3;
  background-image: url("../images/rose.jpeg");
  background-size: 28vh;
  background-repeat: repeat-x;
  background-position-x: center;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin33 {
  background-image: url("../images/pimienta.jpg");
  background-size: cover;
  opacity: 0.8;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: white; }

body .gin33:hover {
  background-color: black;
  opacity: 1; }

body .citrus4 {
  grid-area: gin4;
  background-image: url("../images/sour.jpeg");
  background-size: 31vh;
  background-repeat: repeat-x;
  background-position-x: initial;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin44 {
  background-image: url("../images/enebro.jpeg");
  background-size: cover;
  opacity: 0.8;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center;
  color: white; }

body .gin44:hover {
  background-color: black;
  opacity: 1; }

body .gold5 {
  grid-area: gin5;
  background-image: url("../images/negroni.jpeg");
  background-size: 62vh;
  background-repeat: repeat-x;
  background-position: right;
  border-top: white 3px solid;
  border-bottom: white 3px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white; }

body .gin55 {
  background-image: url("../images/naranja.jpg");
  background-size: cover;
  opacity: 0.8;
  border-top: solid 3px white;
  border-bottom: solid 3px white;
  font-size: x-large;
  font-weight: bolder;
  text-align: center; }

body .gin55:hover {
  background-color: black;
  opacity: 1; }

body .textHiden2 {
  opacity: 0;
  width: 100%;
  height: 100%;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: bolder;
  font-size: xx-large; }

body .textHiden2:hover {
  width: 100%;
  height: 100%;
  justify-content: center;
  place-items: center;
  display: inline-flex;
  text-align: -webkit-center; }

/*MEDIAS QUERIES DEL INDEX*/
@media only screen and (max-width: 1024px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "gin1" "gin2" "gin3" "gin4" "gin5" "footer";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 100%; }
  .gin1 {
    background-position: center !important; }
  .gin2 {
    background-position: center !important; }
  .gin3 {
    background-position: bottom !important; }
  .gin4 {
    background-position: center !important; }
  .gin5 {
    background-position: center !important; }
  .listFIndex {
    flex-direction: column !important;
    align-items: center; } }

@media only screen and (max-width: 768px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "gin1" "gin2" "gin3" "gin4" "gin5" "footer";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 100%; }
  .gin1 {
    background-position: center !important; }
  .gin2 {
    background-position: center !important; }
  .gin3 {
    background-position: bottom !important; }
  .gin4 {
    background-position: center !important; }
  .gin5 {
    background-position: center !important; }
  .listFIndex {
    flex-direction: column !important;
    align-items: center; } }

@media only screen and (max-width: 600px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "gin1" "gin2" "gin3" "gin4" "gin5" "footer";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
    grid-template-columns: 100%; }
  .gin1 {
    background-position: center !important; }
  .gin2 {
    background-position: center !important; }
  .gin3 {
    background-position: bottom !important; }
  .gin4 {
    background-position: center !important; }
  .gin5 {
    background-position: center !important; }
  .listFIndex {
    flex-direction: column !important;
    align-items: center; } }

@media only screen and (max-width: 480px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "gin1" "gin2" "gin3" "gin4" "gin5" "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 100%; }
  .gin1 {
    background-position: center !important; }
  .gin2 {
    background-position: center !important; }
  .gin3 {
    background-position: bottom !important; }
  .gin4 {
    background-position: center !important; }
  .gin5 {
    background-position: center !important; }
  .listFIndex {
    flex-direction: column !important;
    align-items: center; } }

@media only screen and (max-width: 320px) {
  #grid {
    display: grid;
    grid-template-areas: "header" "gin1" "gin2" "gin3" "gin4" "gin5" "footer";
    grid-template-rows: 1fr;
    grid-template-columns: 100%; }
  .gin1 {
    background-position: center !important; }
  .gin2 {
    background-position: center !important; }
  .gin3 {
    background-position: bottom !important; }
  .gin4 {
    background-position: center !important; }
  .gin5 {
    background-position: center !important; }
  .listFIndex {
    flex-direction: column !important;
    align-items: center; } }

/*MEDIAS QUERIES DE CONTACTO*/
@media only screen and (max-width: 768px) {
  #gridContacto {
    display: grid;
    grid-template-areas: "header" "main" "section" "section2" "footer";
    grid-template-rows: 0.2fr 1fr 0.5fr 0.6fr auto;
    grid-template-columns: 100%; }
  .containUbi {
    inline-size: fit-content !important; } }

@media only screen and (max-width: 600px) {
  #gridContacto {
    display: grid;
    grid-template-areas: "header" "main" "section" "section2" "footer";
    grid-template-rows: 0.2fr 1fr 0.5fr 0.6fr auto;
    grid-template-columns: 100%; }
  .containUbi {
    inline-size: fit-content !important; } }

@media only screen and (max-width: 480px) {
  #gridContacto {
    display: grid;
    grid-template-areas: "header" "main" "section" "section2" "footer";
    grid-template-rows: 0.3fr 1fr 0.5fr 1fr auto;
    grid-template-columns: 100%; }
  .containUbi {
    inline-size: fit-content !important; } }

@media only screen and (max-width: 320px) {
  #gridContacto {
    display: grid;
    grid-template-areas: "header" "main" "section" "section2" "footer";
    grid-template-rows: 0.3fr 1fr 0.5fr 1fr auto;
    grid-template-columns: 100%; }
  .containUbi {
    inline-size: fit-content !important; } }

/* MEDIAS QUERIES DE NOSOTROS*/
@media only screen and (max-width: 600px) {
  .fuente {
    font-size: x-large; } }

@media only screen and (max-width: 480px) {
  .fuente {
    font-size: large; } }

@media only screen and (max-width: 320px) {
  .fuente {
    font-size: medium; } }

/* MEDIAS QUERIES DE TRAGOS GINEVRÉ */
@media only screen and (max-width: 1024px) {
  .gridTragos {
    display: grid;
    grid-template-areas: "header header" "gin1 gin11" "gin2 gin22" "gin3 gin33" "gin4 gin44" "gin5 gin55" "footer footer";
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%; } }

@media only screen and (max-width: 768px) {
  .gridTragos {
    display: grid;
    grid-template-areas: "header header" "gin1 gin11" "gin2 gin22" "gin3 gin33" "gin4 gin44" "gin5 gin55" "footer footer";
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%; } }

@media only screen and (max-width: 600px) {
  .gridTragos {
    display: grid;
    grid-template-areas: "header" "gin1" "gin11" "gin2" "gin22" "gin3" "gin33" "gin4" "gin44" "gin5" "gin55" "footer";
    grid-template-rows: 0.4fr 1fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr 1fr auto;
    grid-template-columns: 100%; } }

@media only screen and (max-width: 480px) {
  .gridTragos {
    display: grid;
    grid-template-areas: "header" "gin1" "gin11" "gin2" "gin22" "gin3" "gin33" "gin4" "gin44" "gin5" "gin55" "footer";
    grid-template-rows: 0.4fr 1fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr 0.8fr 1fr 1fr auto;
    grid-template-columns: 100%; } }

@media only screen and (max-width: 320px) {
  .gridTragos {
    display: grid;
    grid-template-areas: "header" "gin1" "gin11" "gin2" "gin22" "gin3" "gin33" "gin4" "gin44" "gin5" "gin55" "footer";
    grid-template-rows: 0.4fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 1fr auto;
    grid-template-columns: 100%; } }
