body{
    margin: 0px;
}
.fuente{
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: bolder;
}

.little{
    font-size: large;
}

.fuenteFine{
    font-size: x-large;

}

.sombra:hover{
    box-shadow: inset 0px 0px 20px 7px black;
}

.sombraRosa:hover{
    box-shadow: inset 0px 0px 20px 2px #fccdd5;
}

.sombraAzul:hover{
    box-shadow: inset 0px 0px 20px 2px #000049;
}

.sombraYellow:hover{
    box-shadow: inset 0px 0px 20px 2px yellow;
}

.sombraGold:hover{
    box-shadow: inset 0px 0px 20px 2px goldenrod;
}

.sombra6:hover{
    background-color: black;
    opacity: 0.6;
}

.sombra7:hover{
    opacity: 0.6;
    background-color: #000067;
}

.sombra8:hover{
    opacity: 0.6;
    background-color: #d80570d6;
}

.sombra9:hover{
    opacity: 0.6;
    background-color: #b57a0e;
}

.sombra10:hover{
    opacity: 0.6;
    background-color: #825d00;  
}

.instagram{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-size: x-large;
}